body {
    background-color: #fbf9f6;
}
/* This is for the Nav Bar */
.search {
    border-radius: 0;
}

nav {
    padding: 0 !important;

    width: 90%;
    margin: 0 auto !important;
}
.logoImage {
    width: 60px !important;
    height: 30px !important;
}
.wordwise {
    color: #f07c29;
    width: 70%;
}

.btn-orange {
    background-color: #f07c29;
    border: #f07c29 1px solid !important;
    color: white !important;
    --bs-btn-active-bg: #db5e04;
}
.btn-info {
    color: white;
}

.btn-orange:hover {
    background-color: #db5e04;
    color: white;
}

.navButton {
    justify-content: flex-end;
    text-align: right;
    padding: 0;
}
.createForm {
    width: 90%;
    margin: 0 auto;
}
.createContainer {
    width: 90%;
    margin: 0 auto;
    padding: 1% 0;
}
.fa-brands {
    padding: 5%;
    color: #222222;
    transition-duration: 0.3s;
    background-color: white;
    width: 44px;
    height: 44px;
    border-radius: 20%;
}
.fa-brands:hover {
    color: white;
    background-color: #f07c29;
}
/* This is for the pagination */

.paginationContainer {
    background-color: #222222;
    opacity: 0.9;
}
.pagination {
    width: 100%;
    margin: 0 auto;
    z-index: 500;
    color: white;
}
.navIndex {
    background-color: #f07c29;
    color: white;
}

.navMenu:hover {
    background-color: #f07c29;
    color: white;
}
/* This is for the footer */
footer {
    background-color: #282828;
    margin-top: 1%;
}
.insideFooter {
    width: 90%;
    margin: 0 auto;
}
.oneOf4,
.twoOf4,
.threeOf4 {
    border-right: gray 2px solid;
    margin: 0;
}
a {
    text-decoration: none;
}
a:hover {
    color: orangered;
}
.upperFooter {
    padding: 5% 0;
    /* border-bottom: gray 2px solid; */
}
.lowerFooter {
    background-color: #000000;
    width: 100%;
}

.copyrightText {
    margin-bottom: 0;
    font-weight: 400;
    line-height: 28px;
    -webkit-font-smoothing: antialiased;
    font-size: 19px;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
}
.footerHeading {
    padding-top: 5%;
    padding-bottom: 5%;
}
.linksInsideFooter {
    padding-top: 2%;
    font-size: 17px;
    color: #c4c4c4;
}

/* This is for the pagination */
.pagination {
    position: sticky;
    top: 0;

    font-size: 20px;
    position: -webkit-sticky;
}
.paginationNum {
    width: 100%;
    padding: 0.5%;
}

h6,
a,
h5,
p {
    color: white;
}

/* This is in the index */

.authorIndex {
    text-align: left;
    padding-left: 5%;
    color: #999;
    font-size: small;
    margin-top: 5%;
    margin-bottom: 0;
}
.authorIndex :hover {
    color: #db5e04;
}
.statusIndex {
    margin-top: 0;
    text-align: left;
    padding-left: 5%;
    font-size: large;
}

.imageBox {
    position: relative;
    margin: 5% 0;
}

.title:hover,
.imageImageBox:hover + .title {
    display: block !important;
    height: 309px;
    color: #db5e04;
}
.title {
    position: absolute;
    background-color: white;
    color: transparent;
    opacity: 0.8;
    width: 224px;
    height: 0;
    transition: height 1s !important;
    top: 37.5%;
    left: 50%;
    font-family: "Times New Roman", Times, serif;
    transform: translate(-50%, -50%);
    font-size: 25px;
    /* -webkit-text-stroke: 1px #fff;

    background-image: linear-gradient(#fff, #fff);
    background-repeat: no-repeat;
    -webkit-background-clip: background-color;
    background-position: -750px 0; */
    animation: 10s linear infinite alternate;
    animation-delay: 10s;
}
.fa-magnifying-glass {
    padding-top: 50%;
    font-size: 50px;
    opacity: 1;
}
.fa-download :hover {
    color: #b9e711;
}

/* .title {
    display: none;
    position: absolute;
    background-color: #db5e04;

    width: 224px;
    height: 309px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    -webkit-text-stroke: 1px #fff;
    color: orange;
    background-image: orange;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -750px 0;
    animation: backcolor 5s linear infinite alternate;
    animation-delay: -1s;
} */

.imageBox {
    margin-top: 10px !important;
    text-align: center;
}
/* 
.imageImageBox {
    display: block;
}

.hoverColor {
    display: none !important;
}
.hovercolor :hover {
    display: block !important;
    position: absolute;
    background-color: orange;
    height: 309px;
    width: 224px;
} */
.sliderContainer {
    width: 100%;

    position: relative;
}
.mySlides {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.carousel-control-prev {
    left: 0;
}
.carousel-control-next {
    right: 0;
}
.carousel-control-prev,
.carousel-control-next {
    font-size: 40px;
    position: absolute;
    top: 0%;
    color: black;
    background-color: gray;
    width: 50px;
    height: 50px;
    top: 40%;
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: #f07c29;
    color: white !important;
}
.gridContainer {
    width: 90%;
    margin: 0 auto;
}
.gridContainerTitle {
    width: 90%;
    margin: 0 auto;
    padding-left: 2%;
    color: #db5e04;
}

/* This is for the LOG IN page */
.insideLoginForm {
    width: 90%;
    margin: 20% auto;
    margin-top: 20px;
}
.regtext {
    color: #f07c29;
    cursor: pointer;
}
.account {
    width: 60%;
}
.forgetPassword {
    width: 40%;
    text-align: right;
}
.logInProcess {
    width: 90%;
    margin: 0 auto;
}
/* This is for the DETAIL */
.detailText {
    color: #222222;
}
.detailContainer {
    padding: 3% 0;
    width: 80%;
    margin: 0 auto;
}
.insideDetailTextContainer {
}
.detailTextContainer {
    display: inline;
    padding-left: 5%;
}
.imageContainer {
    display: inline;
}
.author {
    font-family: "Josefin Sans", sans-serif;
}
.status {
    font-size: 30px;
}
.category {
    padding-top: 25px;
}

/* DROP DOWN MENU */

/* Dropdown Button */
.dropbtn {
    background-color: #04aa6d;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* ADMIN.PHP */
.fa-circle-info {
    color: white;
}
.fa-circle-info :hover {
    background-color: #165764 !important;
    color: white;
}
.buttonList {
    padding: 1rem;
}
.rightButtonList {
    text-align: right;
}

/* CREATE AUTHOR */
.authorForm {
    padding-bottom: 1%;
}
.authorPage {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

/* BOOKS.PHP */
.newBook {
    padding: 2% 0;
    padding-left: 5%;
}
.booksText {
    width: 90%;
    margin: 0 auto;
    padding: 2% 1.5%;
    color: #db5e04;
}
.orangeText {
    color: #db5e04 !important;
}

/* AUTHOR.PHP */
.namecard {
    margin: 1% 1%;
    background-color: #db5e04;
    color: white;
    width: 250px;
    height: 350px;

    overflow: hidden !important;
    border-radius: 20px;
}
.namecards {
    width: 200px;
    height: 100px;
}
.namecard :hover,
.card:hover {
    color: white !important;
}
.card:hover {
    margin-top: 10px !important;
    box-shadow: 0 10px #c9bcbc;
    transition-duration: 0.2s;
}
.card-body {
    overflow: hidden;
    width: 300px;
}
/* .card-img-top {
    width: 250px;
    text-align: center !important;
    padding-left: 12%;
} */
/* .namecard :hover {
    margin-bottom: 6px !important;
    background-color: #db5e04;
    color: white;
    width: 400px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

    box-shadow: 0 8px #c9bcbc;
    transition-duration: 0.2s;
} */
.ui-menu-item-wrapper,
.ui-menu-item {
    background-color: gray !important;
    color: white;
    width: 500px;
}
.ui-menu {
    background-color: gray;
    color: white;
    width: 530px;
    border-radius: 10px;
    overflow: hidden;
}

/* Hiding Scroll Bar */
::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 450px) {
}
